# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.InstaSharp.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\matth\RiderProjects\InstaSharp\.idea\.idea.InstaSharp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
